/*! Breakpoint-Helper v1.0.0 | MIT License | github.com/astraloverflow/breakpoint-helper */

.bootstrap-breakpoints::before {
  background: hsla(264, 34%, 36%, 0.9);
  border-radius: $border-radius;
  color: $white;
  content: 'xs - Extra Small';
  font-family: $font-family-monospace;
  font-size: $font-size-lg;
  left: 50%;
  margin: auto;
  padding: 0.8em 1.4em;
  position: fixed;
  top: 1em;
  transform: translateX(-50%);
  z-index: $zindex-fixed;

  @media (min-width: 576px) {
    content: 'sm - Small';
  }

  @media (min-width: 768px) {
    content: 'md - Medium';
  }

  @media (min-width: 992px) {
    content: 'lg - Large';
  }

  @media (min-width: 1200px) {
    content: 'xl - Extra Large';
  }
}
