/*! Breakpoint-Helper v1.0.0 | MIT License | github.com/astraloverflow/breakpoint-helper */
.bootstrap-breakpoints::before {
  background: rgba(86, 61, 123, 0.9);
  border-radius: 0.25rem;
  color: #fff;
  content: 'xs - Extra Small';
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1.25rem;
  left: 50%;
  margin: auto;
  padding: 0.8em 1.4em;
  position: fixed;
  top: 1em;
  transform: translateX(-50%);
  z-index: 1030;
}

@media (min-width: 576px) {
  .bootstrap-breakpoints::before {
    content: 'sm - Small';
  }
}

@media (min-width: 768px) {
  .bootstrap-breakpoints::before {
    content: 'md - Medium';
  }
}

@media (min-width: 992px) {
  .bootstrap-breakpoints::before {
    content: 'lg - Large';
  }
}

@media (min-width: 1200px) {
  .bootstrap-breakpoints::before {
    content: 'xl - Extra Large';
  }
}
